/* Using Inter Font */
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Using  Raleway Font */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
main{
        /* background-color: rgba(78, 71, 255, 0.1); */
}

header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
    width: 100%;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 0 120px;

}

.logo-headline{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    margin: 70px 0 0 0 ;
}

.signup-button{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px 12px 36px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 70px 20px  0 ;


}

.signup-button:hover{
    background-color:#3A36CC;
    color: #FFFFFF;
}

.banner{

    align-items: center;
    justify-content: space-between ;
    margin: 309px 267.5px ;
    text-align: center;
}

.banner-heading{
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 65px;
    font-weight: 700;
    margin: 350px 0 0 0 ;
}


.stay-focused-button{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px 12px 36px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 100px 365.5px 152px 365.5px ;
}

.stay-focused-button:hover{
    background-color:#3A36CC;
    color: #FFFFFF;
}

.action{
    display: flex;
    margin: 116px 140px 0 116px;
    justify-content: space-between ;
    align-items: center;
}

.action-design{
    text-align: left;

}

.action-headline{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

.action-subheadline{
    font-size: 24px;
    font-weight:200;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0 0 0 ;
}

.launch-button{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px 12px 36px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 23px 120px  0  0;
}
.launch-button:hover{
    background-color:#3A36CC;
    color: #FFFFFF;

}

.action-image{
    border-radius: 48px;
    margin: 0 0 0 100px;
}
.productive{
    background-color: rgba(78, 71, 255, 0.1);
    align-items: center;
    margin: 116px 140px 50px 116px;
    border-radius: 24px;
    padding: 50px 142px;
}

.productive-headline{
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    padding: 10px;
    text-align: center;
    margin: 50px 142px 40px 142px;
}

.productive-data{
    display: flex;
    justify-content: space-around;
}

.numbers{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}

.number-head{
    font-size: 20px;
    font-weight: 200;
    color: #000000;
}

.review-heading{
    font-size: 42px;
    font-weight:700;
    color: #252432;
    text-align: center;

}

.card-collection{

        display: inline-block;
        margin: 0 0 10px 200px;

}

.review-card{
    display: inline-block;
    border-radius: 14px;
    margin: 50px 0 0 151px;
    background-color: #F2EDED;

    padding: 24px;


}
.reviewer-headline{
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin: 24px 0 0 0;

}

.review-descreption{
    font-size: 16x;
    font-weight: 400;
    color: #1E1E1E;
    margin:8px 0 0 0 ;
}

.review-info{
    display: flex;
    align-items: center;
    margin: 24px 0 0 0;
}
.reviewer-info{
    margin-left: 12px;
}
.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;

}

.date{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;

}